[submodule "charts/wildduck"]
	path = charts/wildduck
	url = https://github.com/marxlnfcs/wildduck-helm.git
[submodule "charts/7dtd"]
	path = charts/7dtd
	url = https://github.com/marxlnfcs/7dtd-helm.git
[submodule "bytesafe-ce-helm"]
	path = charts/bytesafe-ce
	url = https://github.com/marxlnfcs/bytesafe-ce-helm.git
[submodule "charts/palworld"]
	path = charts/palworld
	url = https://github.com/marxlnfcs/palworld-helm
